.app {
  display: grid;
  grid-template-areas:
    'p c '
    'p  c';
  grid-template-columns: 300px 10fr;
  background: #e5ebed;
}
.profile {
  grid-area: p;
  top: 0;
  z-index: 2;
  position: sticky;
  background: #ffffff;
}
.content{
  grid-area: c;
}